# data files
data/*.csv
data/*.tsv
data/raw/
data/processed/
data/features/

# notebooks
# notebooks artifacts
notebooks/results/

notebooks/results/
results/figures/x/

# misc / temp
results/figures/x/
.ipynb_checkpoints/

# python
__pycache__/
*.pyc

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.Rhistory